<div>
  <h2 id="page-heading" data-cy="AutoHeading">
    <span jhiTranslate="rentalCarApp.auto.home.title">Autos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rentalCarApp.auto.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-auto"
        [routerLink]="['/auto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rentalCarApp.auto.home.createLabel">Create a new Auto</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (autos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rentalCarApp.auto.home.notFound">No Autos found</span>
    </div>
  }

  @if (autos && autos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modelo">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.modelo">Modelo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="km">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.km">Km</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hp">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.hp">Hp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transmision">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.transmision">Transmision</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precio">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.precio">Precio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="img">
              <div class="d-flex">
                <span jhiTranslate="rentalCarApp.auto.img">Img</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (auto of autos; track trackId(auto)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/auto', auto.id, 'view']">{{ auto.id }}</a>
              </td>
              <td>{{ auto.modelo }}</td>
              <td>{{ auto.km }}</td>
              <td>{{ auto.hp }}</td>
              <td>{{ auto.transmision }}</td>
              <td>{{ auto.precio }}</td>
              <td>{{ auto.descripcion }}</td>
              <td>{{ auto.img }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/auto', auto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/auto', auto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(auto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
